<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>chmurson.battery-history</string>
        <key>ProgramArguments</key>
        <array>
            <string>{PATH_TO_NODE}</string>
            <string>{PATH_TO_PROJECT}/index.js</string>
            <string>show</string>
            <string>--agent</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StartInterval</key>
        <integer>86400</integer>
        <key>StandardOutPath</key>
        <string>{PATH_TO_HOME}/.battery-history/log.std</string>
        <key>StandardErrorPath</key>
        <string>{PATH_TO_HOME}/.battery-history/log.err</string>
    </dict>
</plist>
